.addTask {
   position: relative;
   color: white;
   border: 0.5px solid #ccc;
   border-radius: 5px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

   background-color: #252525;
   display: flex;
   align-items: center;
   justify-content: center;

   .icon {
      cursor: pointer;
      top: 20px;
      right: 20px;
      position: absolute;
   }

   form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
         border: 1px solid #555;
         border-radius: 4px;
         padding: 8px 12px;
         font-size: 16px;
         color: #fff; // Text color for dark theme
         background-color: #333; // Background color for dark theme
         transition: border-color 0.3s ease, background-color 0.3s ease;

         &:focus {
            outline: none;
            border-color: #007bff; // Adjust focus border color for dark theme
            box-shadow: 0 0 0 2px lighten(#007bff, 20%);
         }
      }

      .label {
         color: #ccc; // Default color for label
         font-size: 14px;
         margin-bottom: 4px; // Adjust spacing between label and input field
      }

      .submitBtn {
         padding: 10px 20px; // Adjust padding as needed
         font-size: 16px;
         color: #fff;
         background-color: #007bff; // Button background color
         border: none;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s ease;
         display: flex;
         justify-content: center;

         &:hover {
            background-color: darken(#007bff, 10%); // Darken button color on hover
         }

         &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); // Adjust focus border color and width
         }
      }

      .error {
         color: red;
         font-size: 14px;
      }
   }
}