@import "./variables.scss";

html {
  font-family: calibri;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}